/*
 * 1 - max-width: 992px
 * 2 - max-width: 600px
 */
@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }

    div#header {
        position: relative;
        top: 20vh;
    }
}


