/*GENERIC*/
p {
    line-height: 2rem;
}

/*HEADER*/
div#header {
    position: relative;
    top: 40vh;
}

h1.header.center.teal-text.text-lighten-2 {
    color: white !important;
    font-family: Pacifico, sans-serif;
    font-size: 100pt;
    padding-bottom: 5vh;
}

nav ul a,
nav .brand-logo {
    color: #444;
}

.button-collapse {
    color: #26a69a;
}

#background_video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

#video_cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background: url('../img/video_cover.jpg') no-repeat center;
}

/*PARALLAX*/
div#index-banner {
    height: 93.25vh;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

.parallax-container.valign-wrapper {
    height: 55vh;
}

/*ELEMENTS*/
.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.card.medium {
    float: left;
    margin: 1%;
    height: auto !important;
    width: 30%;
}

/*FOOTER*/
footer.page-footer {
    margin: 0;
}

#spanish, #english {
    float: right;
    margin-left: 1%;
}